
.boxes {
	overflow: hidden; 
	margin-top: $boxSize; 
	padding-top: 1em; 

	.box { 
		width: $boxSize;
		height: $boxSize; 
		background: #EEE; 
		margin: 0 1em 1em 0; 
		float: left; 
		opacity: 0;
		position: relative; 
		left: $boxSize/2;
	}

	.box:nth-child(2) { width: $boxSize*3; 	}
	.box:nth-child(3) { width: $boxSize*3; height: $boxSize*2.11;	}
}
