// Configuring grids

$susy: (
	math: static,
	columns: 12, 
	column-width: 60px,
	gutters: 1 / 4,
	global-box-sizing: border-box,
	/*debug: (image: show)*/
);

.col {
	@include bp(desktop) {
		float: left;
		overflow: hidden;

		&.c1 { @include span(1 wide of 12) }
		&.c2 { @include span(2 wide of 12) }
		&.c3 { @include span(3 wide of 12) }
		&.c4 { @include span(4 wide of 12) }
		&.c5 { @include span(5 wide of 12) }
		&.c6 { @include span(6 wide of 12) }
	}
	
}

@include border-box-sizing;
