// Configuring grids

$susy: (
	math: static,
	columns: 12, 
	column-width: 60px,
	gutters: 1 / 4,
	global-box-sizing: border-box,
	/*debug: (image: show)*/
);

.col {
	float: left;
	overflow: hidden;

	&.c2 {
		@include span(2 of 12);
	}

	&.c5 {
		@include span(5 of 12);
	}
	
}

@include border-box-sizing;
