.hentry {

    .wp-post-image {
        display: block;
        width: 100%; height: auto;
        margin-bottom: 2em;
        border: 1px solid #CCC;

		&.attachment-research {
			width: 162px; height: auto; margin-bottom: 0;
		}
    }

	.research-image {
		display: block; float: left; margin-right: 1em; margin-bottom: 2em; padding-bottom: 0.5em;
	}

	.byline { 
		@extend %MSS7; 

		a:hover { background: $activeColor; text-decoration: underline; } 
	}

	.entry-header,
	.entry-content {
		overflow: hidden;

		&:after {
			display: block; content: ''; clear: both;
		}
	}

	.posted-on {
		&, a { color: #CCC; pointer-events: none; }
	}

	.entry-footer {
		font-size: 0.75em;
		border-bottom: 1px solid #ababab;
		padding-bottom: 3em;
		margin-bottom: 5em;
		overflow: hidden;

		&, a { text-decoration: none; }

		.byline { padding-right: 0.5em; }
		.posted-on { padding-left: 0.5em; }
	}

	.comments-link {
		float: right;
	}
}

.tabs-container { display: none; }
.tabs-container:target { display: block; }

.gallery { 
	clear: both;

	.gallery-item { width: 20%; float: left; padding-right: 0.5em; }
}



/*TODO: FIX*/
#awards, #partners {
	h2,
	p { clear: both; }
}

.alm-btn-wrap,
#comments { display: none; }
