.home {
	.entry-header { display: none; }

	.site-header p {
		display: block;
		font-size: 1.375em; line-height: 1;
		font-weight: bold;
		float: left;
		padding: 1.45em 0 0 1.3em;
		@extend %MSS9;
	}

	.hentry {
		padding: 4em 0 0 0;
	}

	.entry-content {
		font-size: 1.2em;
	}

	.banner {
		height: 270px;
		background-size: inherit;

		.wrapper-wide { position: relative; }

		.formerly { 
			font-size: 0.8em;
			width: 11.5em;
			padding: 1.2em 0.5em 0.5em 0.5em;
			box-shadow: 0 0 1em #000;
			text-align: right;
			color: #FFF;
			background: #000;
			position: absolute;
			top: 0; right: 0;

			span { display: block; @extend %MSS5; }
		}
	}

	.wrapper-wide {
		margin: 0 -span(1 of 12);
	}

	article.hentry {
		padding: 2em span(3 of 12 wide);
		p:last-child { padding: 0; }
	}

	.getincontact {
		margin: 0;

		.copy {
			width: 45%;
		}

		.person {
			width: 55%;
			padding-left: 0;
		}

		.fa-stack-2x { color: #ababab; }
		.fa-stack-1x { color: #000; }

		&:hover {
			.fa-stack-2x { color: $activeColor; }
		}
	}

	.listing {
		.info {
		   	p { text-align: right; padding: 0 0 1em 1em; }
			.button {
				float: none;
				position: absolute;
				bottom: 1.5em;
				right: 1.5em;
			}
		}

	}
}

.page-id-8437 {
	
}

.post-8437 {
	padding: 0 span(1 of 12 wide) !important;

	.entry-header { text-align: center; }

	form {
		padding: 0 span(2 of 12 wide);

		label.mc_var_label { margin: 0; @extend %MSS7; }

		input, textarea { 
			border: 2px solid #000; padding: 0.2em 0.4em; outline: none; 

			&:focus { background: $activeColor; }
		}

		#mc_signup_submit { width: 100%; padding: 0.6em; color: #000; font-weight: normal; display: block; border: none; @extend %MSS7 }
		#mc_signup_submit:hover { background: $activeColor; cursor: pointer; }
	}
}
