html, body { height: 100%; overflow-y: hidden; overflow-x: auto; }
body {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;   
	padding: $boxSize; 
}

* { padding: 0; margin: 0;  }

.site {
	@if $debug { background: $bgrdPage; }
	width: 215px; height: 800px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;

	& > .site-header {
		@if $debug { background: $bgrdHeader; }
		float: left; 
	}

	& > .main-navigation {
		float: left;
		margin: 0 1em; 
	}

	& > .site-content {
		@if $debug { background: $bgrdMain; }
		width: 1em; 
		float: left; 
		overflow: hidden; 

		& > .column {
		}

		& > .sidebar {
			@if $debug { background: $bgrdSidebar; }

		}

		& > .content {
			@if $debug { background: $bgrdContent; }
		}
		
	}

	& > .site-footer {
		@if $debug { background: $bgrdFooter; }
		display: none; 
	}
	
	/* --- Debug area --- */

	@if $debug {

		.column, .footer {
			height: 10em; 
		}

	}
}
