/*
 * Reset
 * */

/*
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
*/

* {
    padding: 0; margin: 0;
}

/* - WP Parts - */
.post-edit-link,
.screen-reader-text {
    display: none;
}
