$debug       : false;

$activeColor : #FCDE00;
$bgrdPage    : #EEE;
$bgrdHeader  : $activeColor;
$bgrdFooter  : $bgrdHeader;
$bgrdMain    : #DDD;
$bgrdSidebar : #EFF;
$bgrdContent : #FFE;

@import "compass";
@import "susy";

@import "mixins";

@import "grids";
@import "reset";
@import "typography";

@import "layout";
@import "navigation";
@import "hentry";
@import "buttons";

@import "home";

