// Configuring grids

.col {
	@include bp(desktop) {
		float: left;
		overflow: hidden;
		margin-right: 15px;	

		&.c1 {
			width: 75px;
		}

		&.c2 {
			width: 150px;
		}

		&.c3 {
			width: 225px;
		}

		&.c4 {
			width: 300px;
		}

		&.c5 {
			width: 375px;
		}

		&.c6 {
			width: 450px;
		}
	}
	
}
