/*
 * Very simple reset 
 * --- */

* {
	padding: 0;
	margin: 0;
} 

a:focus {
	outline: none;
}

/*
 * Inheriting box-sizing Probably Slightly Better Best-Practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 * --- */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Hide notification for Autoprefixer
 * --- */
#__bs_notify__ {
	display: none !important;
}

/* - WP Parts - */
.post-edit-link,
.screen-reader-text {
    display: none;
}

